
@font-face {
    font-family: 'FuneralText';
    src: url('./assets/fonts/AsapCondensed-Medium.ttf') format('truetype');
}

@media(min-height: 100vh) {
    .ht{
        margin-left: -3rem;
    }
}

.App canvas {
    height: 50vh !important;
    border-radius: 10px;
    border: none;
}

.FullApp canvas {
    height: 100vh !important;
}
.TrayMain {
    padding: 0px 20px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}
@media(max-width: 769px) {
    .ht-w{
        margin-left: -3rem !important;
    }
    .ht{
        margin-left: -3rem;
    }
}
/* @media(max-width: 425px) {
    .ht{
        margin-left: -12rem;
    } 
} */
@media(max-width: 500px) {
    .App {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        overflow-x: hidden;
    }
    canvas {
        height: 25vh !important;
    }
}


.App {
    margin-top: 10px;
    overflow-x: hidden;
}

p {
  font-family: 'FuneralText' , sans-serif;
  font-weight: 100;
}

.audience-div {
   background-color: #fff;
   border-radius: 50%;
   width: 90px;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.carasol-div {
    width: 250px;
}
.audience-text {
    color: #2c2b2b;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 10;
}

.audience-border {
    border: none;
    border-radius: 50% !important;
}

.image-container {
    width: 100rem;
}
